body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
* a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(80, 80, 246);
  box-sizing: border-box;
  overflow-x: hidden;
  font-weight: bold;
}

* a:hover {
  color: rgb(61, 61, 250);
}

html {
  scroll-behavior: smooth;
}

.images {
  max-height: 350px;
  object-fit: fill;
}

.brand {
  display: flex;
  margin-bottom: 20px;
}

.brand > img {
  height: auto;
  width: 250px;
  overflow-x: hidden;
  object-fit: contain;
  margin: 5px auto;
  gap: 10px;
  padding: 10px;
  transition: all 0.5s;
  border-radius: 15px;
  border: 1px solid rgb(200, 195, 195);
}

.brand > img:hover {
  box-shadow: 0px 6px 15px rgba(54, 54, 54, 0.63);
  border: 1px solid rgb(91, 90, 90);
}

@media screen and (max-width: 675px) {
  .brand {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }
  .brand > img {
    width: 150px;
    height: 100px;
  }
}

@media screen and (min-width: 375px) {
  .brand {
    gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .brand > img {
    width: 150px;
    height: 100px;
  }
}

.loader {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100;
}

.loader > img {
  width: 10rem;
  animation: loadingAnimation 0.9s linear infinite alternate;
}

.loader > p {
  font-weight: 700;
}

@keyframes loadingAnimation {
  to {
    transform: scale(1.1);
    opacity: 0;
  }
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: #ffc040;
  color: #000000;
  border: none;
  font-weight: 500;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #faa700;
  color: #000000;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products > .product {
  border: 1px solid #404040;
  margin: 1rem;
}

.product {
  transition: all 0.5s;
}

.product:hover {
  box-shadow: 0px 6px 15px rgba(54, 54, 54, 0.63);
}

.product img {
  width: 100%;
  max-width: 400px;
  max-height: 240px;
  object-fit: contain;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}

.rating span {
  color: #ffc000;
}

.img-thumbnail {
  height: 80px;
}

.navbar {
  padding: 2px 0;
  box-shadow: 0, 0, 10px rgb(70, 69, 69);
}

.curousel {
  height: 465px;
  object-fit: cover;
}

.amazon-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.amazon-logo img {
  width: 103px;
  height: 31px;
  margin-top: 15px;
}

.amazon-logo span {
  margin-top: 10px;
  font-size: 14px;
}

.amazon-card {
  width: 350px;
  min-height: 340px;
  padding: 20px 26px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px auto 24px auto;
}

.amazon-card h1 {
  font-weight: 500;
  font-size: 28px;
}

.amazon-card label {
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

.amazon-card input {
  width: 283px;
  margin: 3px auto;
  padding: 10px 10px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  outline: none;
}

.amazon-card .amazon-button {
  width: 283px;
  margin-top: 20px;
  font-weight: 500;
  height: 35px;
  background-color: #f0c14b;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  background-image: linear-gradient(#f7da90 #ffc000);
  border-radius: 4px;
}

.amazon-card .amazon-button:hover {
  color: #000000;
}

.amazon-card p,
.amazon-card p a {
  margin-top: 10px;

  font-size: 15px;
  width: 100%;
  line-height: 1.5;
}

.break p {
  font-weight: 700;
}

.small-container {
  max-width: 700px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.closeBtn {
  margin-left: 9px;
}

.side-navbar {
  opacity: 1;
  z-index: 2000;
  width: 170px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #1d1c1c;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 20px;
}

.active-cont {
  left: 0;
}

.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

.button.thumbnail {
  padding: 0;
}

.orders {
  /* display: flex; */
  overflow-x: auto;
}
